html body {
	background-color: #FFD101;
  	margin: 0;
  	padding: 0;
}

div.content {
    position: absolute;
    width: 60%;
    height: 40%;
    z-index: 15;
    top: 35%;
    left: 15%;
    margin: -100px 0 0 -150px;
}
.message {
	margin-left: 360px;
}
.name {
	font-family: 'JSBold';
	font-color: #003300;
  	font-size: 90px;
}
.about_me {
	font-family: 'JSRegular';
	font-color: #003300;
  	font-size: 40px;
}

/* ----------------------------FONT---------------------------- */
@font-face {
	font-family: 'JSRegular';
	src: url('../fonts/josefin_sans/JosefinSans-Regular.ttf');
}
@font-face {
	font-family: 'JSBold';
	src: url('../fonts/josefin_sans/JosefinSans-Bold.ttf');
}


/* ----------------------------HOME---------------------------- */

.profile_picture {
	position:relative;
	float: left;
	top: 30px;
	/*top: 0px;
    right: -100px;*/
	width: 300px;
	height: 300px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background: url(../images/profile_picture.jpg) no-repeat;
	background-size: 300px;
	background-position: center; 
}

/* ----------------------------CONTACT ME---------------------------- */


.emailme {
	font-family: 'JSRegular';
	color: #003300;
  	font-size: 20px;
  	font-weight: 600;
}

.emailme:hover {
  	font-family: 'JSRegular';
	color: #003300;
  	font-size: 23px;
  	font-weight: 600;
}

.findme {
	/*margin: 0;*/
  	padding: 35px 0;
}

.findme li {
  	display: inline;
}

.findme li a {
	left: 30%;
  	/*color: #202020;	
  	font-family: 'Helvetica', sans-serif;
  	border: 2px solid #ddd;
	border-color: #333;
  	font-size: 14px;
  	letter-spacing: 1.3px;
  	padding: 12px 15px;*/
  	text-decoration: none;
  	text-transform: uppercase;
}

.findme li img{
	width: 65px;
}
